{% extends 'base.html.twig' %}

{% block title %}Commande reussi ! {% endblock %}

{% block body %}

<h1>Votre commande est reussi</h1>
<a href="{{ path('app_client') }}">Revenir a l'acceuil</a>
{% endblock %}