{% extends 'base.html.twig' %}

{% block title %}Hello CommandeController!{% endblock %}

{% block body %}
<link rel="stylesheet" href="/styles/commande.css">
<div class="page-commande">
    {% for c in commandes %}
    <div class="card-commande">
        <p>{{ c.detailCommandes[0].fkplat.fkrestaurant.nom }}</p>
        <p>Status : {{ c.fkstatus.libelle }}</p>
        <p>Heure livraison : {{ c.date | date('H:i') }}</p>
        <a class="btn-see-commande" href="{{path( 'app_commande_view',{'idResto':c.detailCommandes[0].fkplat.fkrestaurant.id,'id':c.id} ) }}"><i
                class="fa-solid fa-eye fa-xl"></i></a>
    </div>

    {% else %}
    <h1>Vous n'avez aucune commande en cours</h1>
    {% endfor %}
</div>

{% endblock %}