{% extends 'base.html.twig' %}

{% block title %}Hello RestaurateurController!{% endblock %}

{% block body %}
<link rel="stylesheet" href="/styles/restaurateur.css">
<div class="page-resto">
    {% for r in restaurants %}
    <div class="resto-card">
        <div class="resto-card-img ">
            <img src="" alt="">
        </div>
        <h2>
            {{ r.nom }}
        </h2>
        <a class="resto-card-btn" href="{{ path('app_restaurateur_edit',{'id':r.id}) }}">Modifier le resto</a>
        <a class="resto-card-btn" href="{{ path('app_restaurateur_view',{'id':r.id}) }}">Voir le resto</a>
    </div>
    {% endfor %}
    <a class="resto-card-btn " href="{{ path('app_restaurateur_add') }}">Ajouter un resto</a>
</div>

{% endblock %}