.page-client{
    margin: 0px 1%;
}

.h-card {
    background-color: var(--transparent-blue);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: var(--isabeline);
    border-radius: 20px;
}
.h-card-img{
    margin: 0.4% 0px;
    height: auto;
    width: 10%;
    background-color: black;
    border-radius: 20px;
}

.description {
    width: 30%;
}

.commande {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10%;
}

.btn-commande {
    border-radius: 20px;
    padding: 7%;
    background-color: var(--isabeline);
    color: var(--marian-blue);
    text-align: center;
}

.page-plat{
    margin: 0px 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1%;
    grid-row-gap: 1%;
    
}

.plat-card{
    background-color: var(--transparent-blue);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: var(--isabeline);
    margin-bottom: 1%;
    padding-left: 1%;
}

.plat-card-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.no-text-decoration{
    text-decoration: none;
    color: var(--isabeline);
}

.description-plat{
    align-self: center;
}

.card-ajout-btn{
    border: thin solid var(--isabeline);
    border-style: none  none solid solid  ;
    align-self: flex-start;
    padding:1%;
    
}

.card-ajout-btn a{   
    color: var(--isabeline);
}
