.page-commande {
    padding: 0px 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 19px;
}

.card-commande {
    display: flex;
    flex-direction: column;
    background-color: var(--transparent-blue);
    color: var(--isabeline);
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    font-size: 18px;
}

.btn-see-commande {
    text-decoration: none;
    color: var(--isabeline);
    margin-bottom: 5%;

}

.page-view-commande{
    padding: 0px 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.blue-bg {
    background-color: var(--transparent-blue);
    color: var(--isabeline);
    width: 100%;
    height: 100%;
    text-align: center;
    border: thin solid var(--lavender);
}

.corner-left-top{
    border-top-left-radius: 20px;
    border-top:none;
    border-left: none;
}
.corner-right-top{
    border-top-right-radius: 20px;
    border-top:none;
    border-right: none;
}
.parent-view-commande {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    margin-top: 0;
}

.view-commande-libelle{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 18px;
}

.btn-view-commande{
    margin-top: 3vh;
    align-self: center ;
    background-color: var(--mimi-pink);
    color: var(--marian-blue);
    padding: 1% 2%;
    border-radius: 20px;
    text-decoration: none;

}

.page-status-edit{
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}



.input-status select {
    height: 5vh;
    width: 20vw;
    padding-left: 5%;
    border-radius: 20px;
    background-color: var(--lavender);
    color: var(--marian-blue);
    border: none;
    font-size: 24px;
}

.input-status label{
    color: var(--marian-blue);
    font-size: 24px;
}

.btn-status button{
    height: 5vh;
    width: 15vw;
    border: 0;
    align-self: center;
    border-radius: 10px;
    font-size: 1.3em;
    color: var(--marian-blue);
    background-color: var(--mimi-pink);
}