.page-commande {
    padding: 0px 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 19px;
}

.card-commande {
    display: flex;
    flex-direction: column;
    background-color: var(--transparent-blue);
    color: var(--isabeline);
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    font-size: 18px;
}

.btn-see-commande {
    text-decoration: none;
    color: var(--isabeline);
    margin-bottom: 5%;

}

.parent-view-commande {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 19px;
    justify-items: center;
}

.view-commande-libelle{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}