.parent-card-livreur {
    padding: 0px 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1vw;
    grid-row-gap: 1vh;
}

.card-livreur{
    background-color: var(--transparent-blue);
    color: var(--isabeline);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
}
.btn-card-livreur{
    text-decoration: none;
    color: var(--isabeline);
    margin-bottom: 5%;
}