.register-form {
    margin-top: 1%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 6vh;
    justify-items: center;
}

.register-input {
    width: 80%;
}

.register-input :is(input, select) {
    padding-left: 5%;
    width: 100%;
    height: 60%;
    border-radius: 10px;
    border: none;
    background-color: var(--lavender);
    color: var(--marian-blue);
    font-size: 1.3em;
}

.register-input label,
.register-user-input label {
    font-size: 1.5em;
    margin: 0 0 5% 10%;
}

.first {
    grid-column: 1;
    grid-row: 1;
}

.second {
    grid-column: 1;
    grid-row: 2;
}

.thirst {
    grid-column: 1;
    grid-row: 3;
}

.fourth {
    grid-column: 1;
    grid-row: 4;
}

.fifth {
    grid-column: 1;
    grid-row: 5;
}

.six {
    grid-column: 2;
    grid-row: 1;
}
.seven{
    grid-column: 2;
    grid-row: 2;
}
.eight{
    visibility: hidden;
    grid-column: 2;
    grid-row: 3;
}

.btn-form {
    height: 70%;
    width: 20%;
    grid-column: 2;
    grid-row: 5;
    align-self: self-end;
}

.btn-form button {
    height: 100%;
    width: 100%;
    border: 0;
    border-radius: 10px;
    font-size: 1.3em;
    color: var(--marian-blue);
    background-color: var(--mimi-pink);
}

:is(.btn-form-user,.btn-form) button:hover {
    cursor: pointer;
}

.page-register {
    padding-left: 30%;
    padding-right: 30%;
}

.register-user {
    margin-top: 10%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    row-gap: 10%;
    align-items: center;
    justify-content: center;
}

.register-user-input {
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 50%;
}

.register-user-input input {
    padding-left: 5%;
    width: 100%;
    height: 40%;
    border-radius: 10px;
    border: none;
    background-color: var(--lavender);
    color: var(--marian-blue);
    font-size: 1.3em;
}

.btn-form-user{
    height: 16%;
    width: 20%;
}

.btn-form-user button{
    height: 100%;
    width: 100%;
    border: 0;
    border-radius: 10px;
    font-size: 1.3em;
    color: var(--marian-blue);
    background-color: var(--mimi-pink);
}